<div class="starter-template">
    <h1>Welcome to Web Application</h1>
    <p class="lead">Hi, you have log in as @User.Identity.Name from SSO Web Application.
    <br> Now you are in second application (Web Application).</p>
</div>